/*
        DENSE STYLING
 */
.wizard_dense #navigationHeader {
    min-height: 1rem;
}

.wizard_dense .tdx-navigation-bar {
    padding-top: 4px;
    padding-bottom: 4px;
}

.wizard_dense .tdx-dashboard__row {
    gap: 6px !important;
}

.wizard_dense .tdx-workmgmt-container__header {
    padding: 4px !important;
}

.wizard_dense #dropdown_dashboardId {
    font-size: 18px !important;
    line-height: unset !important;
    padding-bottom: 0;
}

.wizard_dense .tdx-dropdown--headline::after {
    transform: scale(1);
}

.wizard_dense .tdx-dashboard__widget-container {
    padding: 0;
}

.wizard_dense .tdx-control-bar--widget-header {
    padding-left: 20px;
    padding-right: 20px;
}

.wizard_dense .k-grid {
    padding-left: 20px;
    padding-right: 20px;
}

.wizard_dense .tdworkmgmt td {
    height: revert !important;
    padding: .25rem !important;
}

.wizard_dense .tdx-dashboard .k-grid .k-table-td {
    padding: 2px 6px !important;
    height: 24px !important;
}

.wizard_dense #divDashboardContainer {
    margin-top: 0 !important;
    padding-top: 10px;
}

.wizard_dense .tdx-leftnav__link {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.wizard_dense #homeTab, .wizard_dense #tabContainer {
    height: 2.0rem !important;
}

.wizard_dense .tdx-navigation-tabs__tab {
    border-radius: 0.5rem 0.5rem 0 0 !important;
}


/*
        STRIPED ROWS
 */
.wizard_striped-table-rows .k-table-td {
    background-color: revert;
}

.wizard_striped-table-rows .tdworkmgmt.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.wizard_striped-table-rows .tdworkmgmt.table-striped > tbody > tr:hover {
    background-color: #f1f1f1;
}

/*
        BETTER FEED
 */
.wizard_betterfeed h5 {
    font-family: "DM Sans", sans-serif;
}

/*
        BETTER SEARCH
 */
.wizard_bettersearch .dropdown-item.active:not(.disabled),
.wizard_bettersearch .dropdown-item:active:not(.disabled) {
    background-color: #e9ecef !important;
    color: #212529 !important;
}

.wizard_bettersearch .text-primary {
    color: #6B5CDC !important;
}

.wizard_bettersearch .form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(107, 92, 220, 0.25) !important;
    border-color: #6B5CDC !important;
}

.wizard_bettersearch .form-control-sm {
    border-radius: 0.5rem !important;
}

/*
        BULK INVENTORY
 */
.wizard_window {
    background-color: white !important;
    overflow: auto !important;
    --fa-style-family: 'Font Awesome 6 Free Window';
}

@font-face {
    font-family: 'Font Awesome 6 Free Window';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/webfonts/fa-solid-900.woff2") format("woff2"),
    url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/webfonts/fa-solid-900.ttf") format("truetype");
}

/*
        FLOAT ANIMATION
 */
.wizard_float {
    animation: wizard_float 4s ease-in-out infinite;
}

@keyframes wizard_float {
    0% {
        transform: translateY(0) rotate(-18deg);
    }

    50% {
        transform: translateY(-10px) rotate(-17deg);
    }

    100% {
        transform: translateY(0) rotate(-18deg);
    }
}